# Data Frames Curse

# Pandas

## ¬øPor qu√© Pandas?

**Pandas** es una biblioteca esencial para an√°lisis de datos en Python que ofrece:

- **Versatilidad**: Permite realizar operaciones similares a Excel pero con mayor flexibilidad
- **Escalabilidad**: Maneja eficientemente grandes vol√∫menes de datos (>1 mill√≥n de registros)
- **Integraci√≥n**: Se combina perfectamente con otras bibliotecas de Python (NumPy, Matplotlib, Scikit-learn)

### Ventajas sobre Excel

| Caracter√≠stica | Excel | Pandas |
|----------------|-------|--------|
| L√≠mite de filas | ~1 mill√≥n | Millones+ |
| Automatizaci√≥n | Limitada | Total (scripts) |
| Reproducibilidad | Manual | C√≥digo reutilizable |
| An√°lisis estad√≠stico | B√°sico | Avanzado |


> **Nota importante**: Excel se vuelve inestable con datasets grandes, mientras que Pandas mantiene el rendimiento.

---

### Cargar datos (*CSV*)
- **Data Frames**: Usaremos data frames que son los objetos que nos van a permitir manipular la data. 
> Piensalo como una tabla de excel.

In [1]:
import pandas as pd
cafe_df = pd.read_csv('./warmup-data/coffee.csv') # Usamos el metodo .read_ seguido del tipo de dato que queremos extraer la info

In [2]:
cafe_df.head(5) # head muestra las lineas que le asignemos de arriba y tail las de abajo

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [5]:
resultados_df = pd.read_csv('./data/results.csv')
resultados_parquet = pd.read_parquet('./data/results.parquet')

In [6]:
#resultados_df.head(3)
resultados_parquet.head(3)

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
0,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-Fran√ßois Blanchy,1,FRA,NaN,17.0,True,NaN
1,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-Fran√ßois Blanchy,1,FRA,Jean Montariol,NaN,False,NaN
2,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-Fran√ßois Blanchy,1,FRA,NaN,32.0,True,NaN

## Visualizaci√≥n de DataFrames en Pandas

Pandas ofrece varios m√©todos para inspeccionar y entender r√°pidamente un DataFrame.

- **`head()`**  
  Muestra las primeras filas del DataFrame (por defecto, las primeras 5).

- **`tail()`**  
  Muestra las √∫ltimas filas del DataFrame (por defecto, las √∫ltimas 5).

- **`sample()`**  
  Devuelve una muestra aleatoria de filas, √∫til para revisar datos sin sesgo de orden.

---

## üîé Visualizaci√≥n de datos espec√≠ficos

### Selecci√≥n con `loc`
El m√©todo **`loc`** permite acceder a filas y columnas usando etiquetas.

- Acceder a filas espec√≠ficas  
- Acceder a columnas espec√≠ficas  
- Modificar valores directamente en el DataFrame  

Ejemplo de uso com√∫n:
```python
df.loc[fila, columna] = "Nuevo dato"

In [20]:
bios = pd.read_csv('./data/bios.csv')
# bio.to_excel #Podemos exportar data frames a otros formatos como excel, json, csv, etc

In [17]:
bios.head()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-Fran√ßois Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyr√©n√©es-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25

### Filtrar Data
El m√©todo **`loc`** nos permite filtrar filas de un DataFrame usando condiciones l√≥gicas y seleccionar columnas espec√≠ficas.

---

### üìè Filtrar por una condici√≥n simple

```python
bios.loc[bios['height_cm'] > 215, ['name', 'height_cm']]

In [30]:
bios.loc[bios['height_cm'] > 215, ['name', 'height_cm']]
#multiples condiciones
bios.loc[(bios['height_cm'] > 215) & (bios['born_country'] == 'USA'), ['name', 'height_cm', 'born_country']]
#Si queremos ver solo los nombres que empezan con la letra C
bios.loc[bios['name'].str.contains('Carlo'), ['name']]

                         name
423       Juan Carlos Holgado
708              Carlos Kawai
1245            Carlos Abarca
1259           Carlos Ot√°rola
1262             Carlos Lucas
...                       ...
142283           Carlo Paalam
142286            Carlos Yulo
144443        Carlos Quintana
144747           Carlos M√§der
145492  Carlos Garc√≠a-Ord√≥√±ez

[598 rows x 1 columns]